<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>http://c.3g.163.com/nc/article/headline/T1348647909107/0-140.html</string>
		<string>http://c.3g.163.com/nc/ad/headline/android/0-3.html</string>
		<string></string>
		<string></string>
	</array>
	<array>
		<string>http://c.m.163.com/nc/article/list/T1348648517839/0-20.html</string>
		<string></string>
		<string></string>
		<string>http://c.m.163.com/recommend/getSubDocNews?passport=&amp;devId=353596053000444&amp;size=5&amp;channel=T1348648517839</string>
	</array>
	<array>
		<string></string>
		<string></string>
		<string></string>
		<string>http://c.3g.163.com/recommend/getSubDocPic?passport=&amp;devId=353596053000444&amp;size=20&amp;version=5.3.1</string>
	</array>
	<array>
		<string>http://c.3g.163.com/nc/article/list/T1348649079062/0-20.html</string>
		<string></string>
		<string></string>
		<string></string>
	</array>
	<array>
		<string>http://c.3g.163.com/nc/article/local/5bm%2F5bee/0-20.html</string>
		<string></string>
		<string></string>
		<string></string>
	</array>
	<array>
		<string>http://c.3g.163.com/nc/article/list/T1348648756099/0-20.html</string>
		<string></string>
		<string></string>
		<string></string>
	</array>
	<array>
		<string>http://c.m.163.com/nc/article/list/T1348649580692/0-20.html</string>
		<string></string>
		<string></string>
		<string>http://c.m.163.com/recommend/getSubDocNews?passport=&amp;devId=353596053000444&amp;size=5&amp;channel=T1348649580692</string>
	</array>
	<array>
		<string>http://c.3g.163.com/photo/api/list/0096/4GJ60096.json</string>
		<string></string>
		<string></string>
		<string></string>
	</array>
	<array>
		<string>http://c.3g.163.com/nc/article/comment/list/T1419315959525/0-20.html</string>
		<string></string>
		<string></string>
		<string></string>
	</array>
	<array>
		<string>http://c.3g.163.com/nc/live/livelist.html</string>
		<string></string>
		<string></string>
		<string></string>
	</array>
	<array>
		<string>http://g1.163.com/madrs?app=7A16FBB6&amp;platform=android&amp;category=T1348654060988&amp;location=10%2C11%2C20%2C21%2C22%2C23&amp;gadflag=1</string>
		<string></string>
		<string></string>
		<string></string>
	</array>
	<array>
		<string>http://c.3g.163.com/nc/auto/list/5bm%2F5bee/0-20.html</string>
		<string></string>
		<string></string>
		<string></string>
	</array>
	<array>
		<string>http://c.3g.163.com/recommend/getChanListNews?passport=&amp;devId=353596053000444&amp;size=20&amp;channel=duanzi</string>
		<string></string>
		<string></string>
		<string></string>
	</array>
	<array>
		<string>http://c.3g.163.com/nc/article/list/T1348650593803/0-20.html</string>
		<string></string>
		<string></string>
		<string></string>
	</array>
	<array>
		<string>http://c.3g.163.com/nc/article/list/T1348648141035/0-20.html</string>
		<string></string>
		<string></string>
		<string></string>
	</array>
	<array>
		<string>http://c.3g.163.com/nc/article/house/5bm%2F5bee/0-20.html</string>
		<string></string>
		<string></string>
		<string></string>
	</array>
	<array>
		<string>http://c.3g.163.com/nc/article/list/T1368497029546/0-20.html</string>
		<string></string>
		<string></string>
		<string></string>
	</array>
	<array>
		<string>http://c.3g.163.com/nc/article/list/T1356600029035/0-20.html</string>
		<string></string>
		<string></string>
		<string></string>
	</array>
	<array>
		<string>http://c.m.163.com/nc/article/list/T1370583240249/0-20.html</string>
		<string></string>
		<string></string>
		<string></string>
	</array>
	<array>
		<string>http://c.m.163.com/nc/article/list/T1422935072191/0-20.html</string>
		<string></string>
		<string></string>
		<string></string>
	</array>
	<array>
		<string>http://c.m.163.com/nc/article/list/T1348654151579/0-20.html</string>
		<string></string>
		<string></string>
		<string></string>
	</array>
	<array>
		<string>http://c.m.163.com/nc/article/list/T1414142214384/0-20.html</string>
		<string></string>
		<string></string>
		<string></string>
	</array>
</array>
</plist>
